# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/glstudy/out/*
/glstudy/out
/glstudy/CMakePresets.json
/glstudy/.vs
/OpenGL/out/*
/OpenGL/out
/OpenGL/.vs
/OpenGL/CMakePresets.json
/OpenGL/glStudy/thirdParty/lib/glfw3.lib
